<% const renderBands = function(bands) { %>
    <ul>
        <% bands.forEach(band => { %>
            <li><%= band %></li>
        <% }) %>
    </ul>
<% } %>

<% const receiverDetails = function(receiver, linkTitle) { %>
    <div><a href="<%= receiver.url %>" target="_blank"><i class="mdi mdi-open-in-new"></i> <%= linkTitle %></a></div>
    <div><%= receiver.type %> <%= receiver.version %></div>
    <div class="receiverbands">
        <% Object.entries(receiver.bands).forEach(([tag, tagInfo]) => { %>
            <span class="badge bandtag bandtag-<%= tag %>" data-toggle="tooltip" data-html="true" title="<%= renderBands(tagInfo.bands) %>">
                <i class="mdi mdi-information"></i>
                <%= tagInfo.name %>
            </span>
        <% }) %>
    </div>
<% } %>

<h1 class="row">Receiver list</h1>
<%- include('filter', {columns: true}); %>
<% if (receivers.length) { %>
    <ul class="row list-group list-group-flush receiver-list mt-2">
        <% receivers.forEach((receiver) => { %>
            <li class="list-group-item">
                <div class="receiver-image">
                    <% if (receiver.avatarUrl) { %>
                        <img alt="<%= receiver.label %> avatar" src="<%= receiver.avatarUrl %>">
                    <% } %>
                </div>
                <div class="receiver-details">
                    <div class="receiver-details-headline">
                        <h5><%= receiver.label %></h5>
                        <% if (typeof(session) !== 'undefined') { %>
                            <div class="dropdown">
                                <button class="menu-button btn btn-xs btn-secondary ml-2 dropdown-toggle" type="button" data-toggle="dropdown" id="receiver-<%= receiver._id %>-dropdown-button" aria-haspopup="true" aria-expanded="false"></button>
                                <div class="dropdown-menu" aria-labelledby="#receiver-<%= receiver._id %>-dropdown-button">
                                    <% if (receiver.receivers) { %>
                                        <% receiver.receivers.forEach(r => { %>
                                            <a class="dropdown-item" href="/my/receivers/<%= r._id %>/claim">Claim "<%= r.label %>"...</a>
                                        <% }) %>
                                    <% } else { %>
                                        <a class="dropdown-item" href="/my/receivers/<%= receiver._id %>/claim">Claim "<%= receiver.label %>"...</a>
                                    <% } %>
                                </div>
                            </div>
                        <% } %>
                    </div>
                    <% if (receiver.receivers) { %>
                        <ul class="stationreceiverlist">
                        <% receiver.receivers.forEach(r => { %>
                            <li>
                                <% receiverDetails(r, r.label); %>
                            </li>
                        <% }) %>
                        </ul>
                    <% } else { %>
                        <% receiverDetails(receiver, receiver.url); %>
                    <% } %>
                </div>
            </li>
        <% }); %>
    </ul>
    <div class="row">
        <ul class="pagination">
            <% if (pagination.page > 0) { %>
                <li class="page-item"><a class="page-link" href="<%= pagination.buildPageLink(pagination.page - 1) %>">Previous</a></li>
            <% } %>
            <% for (let i = 0; i < pagination.total; i++) { %>
                <li class="page-item <% if (pagination.page == i) { %>active<% } %>"><a class="page-link" href="<%= pagination.buildPageLink(i) %>"><%= i + 1 %></a></li>
            <% } %>
            <% if (pagination.page + 1 < pagination.total) { %>
                <li class="page-item"><a class="page-link" href="<%= pagination.buildPageLink(pagination.page + 1) %>">Next</a></li>
            <% } %>
        </ul>
    </div>
<% } else { %>
    <div class="row alert alert-primary mt-2">
        <i class="mdi mdi-information"></i> No matching receivers found.
    </div>
<% } %>
<%- contentFor('title') %>
online receiver directory | Home
<%- contentFor('head') %>
<script src="/static/js/filter.js"></script>
<script src="/static/popper/popper.min.js"></script>
<script>
    $(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
