<h1>Receiver list</h1>
<ul class="list-group list-group-flush receiver-list mt-5">
    <% receivers.forEach((receiver) => { %>
        <li class="list-group-item">
            <div class="receiver-image">
                <% if (receiver.avatar_hash) { %>
                    <img alt="<%= receiver.label %> avatar" src="<%= receiver.avatarUrl %>">
                <% } %>
            </div>
            <div class="receiver-details">
                <h5><%= receiver.label %></h5>
                <div><a href="<%= receiver.url %>" target="_blank"><i class="mdi mdi-open-in-new"></i> <%= receiver.url %></a></div>
                <div><%= receiver.type %> <%= receiver.version %></div>
            </div>
        </li>
    <% }); %>
</ul>
<%- contentFor('title') %>
online receiver directory | Home