<!DOCTYPE html>
<HTML class="<%- defineContent('html-class') %>" lang="en">
    <HEAD>
        <title>Receiverbook | <%- defineContent('title') %></title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="theme-color" content="#222" />
        <meta name="description" content="Receiverbook online directory for web-based receivers, community and exchange for ham radio operators, DXers and SWLs." />

        <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/main.css" />
        <link rel="preload" href="/static/mdi/css/materialdesignicons.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="/static/mdi/css/materialdesignicons.min.css" /></noscript>

        <script src="/static/js/jquery-3.5.1.min.js"></script>
        <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
        <%- defineContent('head') %>
    </HEAD>
    <BODY>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="navbar-brand">
                <a href="<%= rootUrl %>">
                    Receiverbook
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav">
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Online Receivers
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/">List view</a>
                            <a class="dropdown-item" href="/map">Map view</a>
                        </div>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="/receivers/new"><i class="mdi mdi-plus-box"></i> Report a new receiver</a>
                    </div>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Receiver software
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="https://www.openwebrx.de" target="_blank"><i class="mdi mdi-open-in-new"></i> OpenWebRX</a>
                            <a class="dropdown-item" href="http://www.websdr.org/" target="_blank"><i class="mdi mdi-open-in-new"></i> WebSDR</a>
                            <a class="dropdown-item" href="http://www.kiwisdr.com/" target="_blank"><i class="mdi mdi-open-in-new"></i> KiwiSDR</a>
                        </div>
                    </div>
                </div>
                <div class="navbar-nav ml-auto">
                    <% if (typeof(session) === 'undefined') { %>
                        <a href="/session/login">Login / Register</a>
                    <% } else { %>
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="mdi mdi-account"></i> <%= session.username %>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
                                <a class="dropdown-item">My profile</a>
                                <a class="dropdown-item" href="/my/receivers">My receivers</a>
                                <a class="dropdown-item" href="/my/stations">My stations</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/session/logout">Logout</a>
                            </div>
                        <div>
                    <% } %>
                </div>
            <div>
        </nav>
        <div class="content-container container mt-5">
            <%- body %>
        </div>
        <footer class="footer">
            <div class="center">
                <span>Built with <a href="https://getbootstrap.com/" target="_blank"><i class="mdi mdi-bootstrap"></i>Bootstrap</a></span> |
                <span><a href="https://bootswatch.com/darkly/" target="_blank">Darkly theme by Thomas Park</a></span> |
                <span><a class="footer-item" href="/impressum">Impressum</a></span> |
                <span class="twitter-button"><a href="https://twitter.com/dd5jfk?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @dd5jfk</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></span>
            </div>
        </footer>
    </BODY>
</HTML>
