<h1><%= station.label ? station.label : 'Unnamed station' %></h1>
<p class="mt-5">
    Stations allow you to group multiple receivers that are in the same location (or at least in close proximity to
    each other).
</p>
<div>
    <h3>Add a receiver to this station</h3>
    <div class="mt-3 container">
        <form class="row" method="POST">
            <select class="form-control col-9">
                <% receivers.forEach(receiver => { %>
                    <option value="<%= receiver.id %>"><%= receiver.label %></option>
                <% }) %>
            </select>
            <div class="actions col-3">
                <button type="submit" class="btn btn-primary">Add to station</button>
            </div>
        </form>
    </div>
</div>
<hr />
<div class="alert alert-danger">
    <div class="actions mt-2">
        <button class="btn btn-primary" data-toggle="modal" data-target="#deleteModal">Delete station</a>
    </div>
</div>
<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Please confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Please confirm that you would really like to delete this station:</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a type="button" class="btn btn-danger" href="/my/stations/<%= station.id %>/delete">Delete</a>
            </div>
        </div>
    </div>
</div>
<%- contentFor('title') %>
edit <%= station.label ? station.label : 'Unnamed station' %>