<% const claim = receiver.claims.find(c => c.owner === session.username); %>
<h1><%= receiver.label ? receiver.label : 'Unnamed receiver' %></h1>
<div class="mt-5">
    <% if(claim.status !== 'verified') { %>
        <h3>Claim status</h3>
        <p class="mt-3">
            Your claim for this receiver is still being verified, so your interactions with the receiver are
            currently limited. To verify your claim, please choose one of the following options:
        </p>
        <% if (receiver.type === 'openwebrx') { %>
            <ul>
                <li>
                    <h4>E-Mail validation</h4>
                    <p class="mt-3">
                        If the <span class="inline-code">receiver_admin</span> setting in your receiver
                        configuration is set to the same address you used to sign up here, your receiver
                        should be verified automatically within the next hour.
                    </p>
                </li>
                <li>
                    <h4>Key verification</h4>
                    <% if (receiver.hasVersion('0.19.1')) { %>
                        <p class="mt-3">
                            You can verify confirm your receiver by configuring it with a receiver key, which
                            we can verify automatically. To do so, please add the following line to your
                            <span class="inline-code">config_webrx.py</span>:
                        </p>
<pre class="block mt-2">
receiver_keys += ["<%= claim.key %>"]
</pre>
                        <p>
                            Please restart OpenWebRX after editing the configuration.
                            (<span class="inline-code">sudo systemctl restart openwebrx</span> on most installations)
                        </p>
                    <% } else { %>
                        <p class="mt-3">
                            Your receiver version does not support receiver key verification.
                            Please update your Receiver to version 0.19.1 or later to be able to be listed.
                        </p>
                        <p>
                            Please visit <a href="https://www.openwebrx.de">the OpenWebRX homepage</a> for instructions.
                        </p>
                    <% } %>
                </li>
            </ul>
            <p>
                We will poll your receiver in regular intervals. Please allow a few hours to pass before your claim
                will become verified.
            </p>
            <% if (receiver.hasVersion('0.19.1')) { %>
                <div class="alert alert-warning">
                    <div>
                        Please keep your receiver key secret. Anybody who obtains your receiver key can potentially
                        take over your receiver listings.
                    </div>
                    <div>
                        You can regenerate your receiver key with the button below in case it has been compromised:
                    </div>
                    <div class="actions mt-2">
                        <a class="btn btn-primary" href="/my/receivers/<%= receiver.id %>/regenerate_key">
                            Generate a new receiver key
                        </a>
                    </div>
                </div>
            <% } %>
        <% } else if (receiver.type === 'websdr') { %>
            <ul>
                <li>
                    <h4>E-Mail validation</h4>
                    <p class="mt-3">
                        If the <span class="inline-code">org email</span> setting in your receiver
                        configuration is set to the same address you used to sign up here, your receiver
                        should be verified automatically within the next hour.
                    </p>
                </li>
                <li>
                    <h4>Confirmation code</h4>
                    <p class="mt-3">
                        Please paste the following code at the top of your <span class="inline-code">pub2/websdr-head.html</span> file:
                    </p>
<pre class="block">
&lt;meta name="receiverbook-confirmation" content="<%= claim.key %>"&gt;
</pre>
                    <div class="actions mt-2">
                        <a class="btn btn-primary" href="/my/receivers/<%= receiver.id %>/regenerate_key">
                            Generate a new confirmation code
                        </a>
                    </div>
                </li>
            </ul>
            <p>
                We will poll your receiver in regular intervals. Please allow a few hours to pass before your claim
                will become verified.
            </p>
        <% } else if (receiver.type === 'kiwisdr') { %>
            <ul>
                <li>
                    <h4>E-Mail validation</h4>
                    <p class="mt-3">
                        If the <span class="inline-code">receiver_admin</span> setting in your receiver
                        configuration is set to the same address you used to sign up here, your receiver
                        should be verified automatically within the next hour.
                    </p>
                </li>
            </ul>
            <p>
                We will poll your receiver in regular intervals. Please allow a few hours to pass before your claim
                will become verified.
            </p>
        <$ } else { %>
            <p class="mt-3">
                We currently have no means to verify your receiver claim. Please check back in the future as we update
                our software.
            </p>
        <% } %>
    <% } else { %>
        <h3>Claim Status</h3>
        <p class="mt-3 alert alert-success">
            Your receiver claim is valid.
        </p>
        <% if (receiver.type === 'openwebrx' && receiver.hasVersion('0.19.1')) { %>
            <p>
                If you think your receiver credentials have been compromised, you can generate a new receiver key here.
                Regenerating will invalidate your receiver claim until your credentials have been re-verified.
            </p>
            <div class="actions mt-2">
                <a class="btn btn-primary" href="/my/receivers/<%= receiver.id %>/regenerate_key">
                    Generate a new receiver key
                </a>
            </div>
        <% } else if (receiver.type === 'websdr') { %>
            <p>
                If you think your receiver credentials have been compromised, you can generate a new confirmation code
                here. Regenerating will invalidate your receiver claim until your credentials have been re-verified.
            </p>
            <div class="actions mt-2">
                <a class="btn btn-primary" href="/my/receivers/<%= receiver.id %>/regenerate_key">
                    Generate a new confirmation code
                </a>
            </div>
        <% } %>
    <% } %>
    <div class="alert alert-danger mt-3">
        If you do no longer claim to be the operator of this receiver, you can surrender your claim with the button
        below. Please note that removing your claim will not remove this receiver from our site.
        <div class="actions mt-2">
            <button class="btn btn-primary" data-toggle="modal" data-target="#deleteModal">Delete receiver claim</button>
        </div>
    </div>
</div>
<hr />
<div>
    <h3>Receiver Status</h3>
    <% if (receiver.status === 'online') { %>
        <p class="mt-3 alert alert-success">
            This receiver is currently online and publicly listed on this site.
        </p>
    <% } else { %>
        <p class="mt-3 alert alert-warning">
            This receiver has been unreachable during our last scheduled status update. Please check if your receiver
            is running and available to the public to make it available on this site. If you have just added this
            receiver, please allow some time to pass for the first status update.
        </p>
    <% } %>
</div>
<% if (claim.status === 'verified' && stations.length) { %>
    <hr />
    <div>
        <h3>Station membership</h3>
        <div class="mt-3 container">
            <% if (receiver.station) { %>
                <p>
                    This receiver is a member of the <a href="/my/stations/<%= receiver.station.id %>"><%= receiver.station.label %></a> station.
                    <a href="/my/receivers/<%= receiver.id%>/removeFromStation">
                        Click here
                    </a>
                    to remove it from the station.
                </p>
            <% } else { %>
                <p>This receiver is not a member of a station yet. You can assign it to a station using the list below:</p>
                <form class="row" method="POST" action="/my/receivers/<%= receiver.id %>/assignToStation">
                    <select class="form-control col-9" name="station_id" id="station_id">
                        <% stations.forEach(station => { %>
                            <option value="<%= station.id %>"><%= station.label %></option>
                        <% }) %>
                    </select>
                    <div class="actions col-3">
                        <button type="submit" class="btn btn-primary">Add to station</button>
                    </div>
                </form>
            <% } %>
        </div>
    </div>
    <hr />
<% } %>
<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Please confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Please confirm that you would really like to delete your receiver claim:</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a type="button" class="btn btn-danger" href="/my/receivers/<%= receiver.id %>/unclaim">Delete</a>
            </div>
        </div>
    </div>
</div>
<%- contentFor('title') %>
edit <%= receiver.label ? receiver.label : 'Unnamed receiver' %>