<h1><%= receiver.label %></h1>
<div class="mt-5">
    <% if (receiver.type === 'openwebrx') { %>
        <%if (receiver.hasVersion('0.19.1')) { %>
            <h3>OpenWebRX receiver authentication</h3>
            <p class="mt-3">
                We need to authenticate you as the operator of this receiver listing. For this purpose
                please add the following line to your <span class="inline-code">config_webrx.py</span>:
            </p>
<pre class="block mt-2">
receiver_keys += ["<%=receiver.key %>"]
</pre>
            <p>
                Please restart OpenWebRX after editing the configuration.
                (<span class="inline-code">sudo systemctl restart openwebrx</span> on most installations)
            </p>
            <p>
                We will poll your receiver in regular intervals. Please allow a few hours to pass, your receiver
                will be listed automatically once authentication is complete.
            </p>
            <div class="alert alert-warning">
                <div>
                    Please keep your receiver key secret. Anybody who obtains your receiver key can potentially
                    take over your receiver listings.
                </div>
                <div>
                    You can regenerate your receiver key with the button below in case it has been compromised:
                </div>
                <div class="actions mt-2">
                    <a class="btn btn-primary" href="/my/receivers/<%= receiver.id %>/regenerate_key">
                        Generate a new receiver key
                    </a>
                </div>
            </div>
        <% } else { %>
            <h3>OpenWebRX receiver authentication</h3>
            <p class="mt-3">
                Your receiver version does not allow us to automatically autenticate you as the receiver owner.
                Please update your Receiver to at lease version 0.19.1 to be able to be listed.
            </p>
            <p>
                Please visit <a href="https://www.openwebrx.de">the OpenWebRX homepage for instructions.
            </p>
        <% } %>
    <% } else if (receiver.type === 'websdr') { %>
        <h3>WebSDR authentication</h3>
        <p class="mt-3">
            Please paste the following code at the top of your <span class="inline-code">pub2/websdr-head.html</span> file:
        </p>
<pre class="block">
&lt;meta name="receiverbook-secret" content="<%= receiver.key %>"&gt;
</pre>
    <% } else { %>
        <h3>Receiver authentication</h3>
        <p class="mt-3">
            We currently have no means to authenticate you as the operator of this receiver. Please check back
            in the future as we update our software.
        </p>
    <% } %>
</div>
<hr>
<div class="alert alert-danger">
    You can remove your receiver listing from this site by pressing the following button:
    <div class="actions mt-2">
        <button class="btn btn-primary" data-toggle="modal" data-target="#deleteModal">Delete receiver</a>
    </div>
</div>
<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Please confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Please confirm that you would really like to delete this receiver:</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a type="button" class="btn btn-danger" href="/my/receivers/<%= receiver.id %>/delete">Delete</a>
            </div>
        </div>
    </div>
</div>
