<h1>My receivers</h1>
<table class="table">
    <% if (receivers.length) { %>
        <tr>
            <th>Name</th>
            <th>URL</th>
            <th>Type</th>
            <th>Version</th>
            <th>Status</th>
        </tr>
        <% receivers.forEach((receiver) => { %>
            <tr>
                <td><a href="/my/receivers/<%= receiver.id %>"><%= receiver.label %></a></td>
                <td><a href="<%= receiver.url %>" target="_blank"><i class="mdi mdi-open-in-new"></i> <%= receiver.url %></a>
                <td><%= receiver.type %></a>
                <td><%= receiver.version %></a>
                <td><%= receiver.status %> <i class="mdi mdi-information"></i></td>
            </tr>
        <% }); %>
    <% } else { %>
        <tr><td>No receivers found</td></tr>
    <% } %>
<table>
<div class="actions col-3">
    <a class="btn btn-primary" href="/my/receivers/new">Add a new receiver</a>
<div>